<template>

    <div class="global">
        <nav>
            <ul>
            <li class="nav-item" ><NuxtLink class="nav-link" to="/shoes/categorie/homme/1">Chaussure de ville</Nuxtlink></li>
            <li class="nav-item" ><NuxtLink class="nav-link" to="/shoes/categorie/homme/3" >Claquette chaussette</NuxtLink></li>
            <li class="nav-item" ><NuxtLink class="nav-link" to="/shoes/categorie/homme/4">Rythme Épique</NuxtLink></li>
            </ul>
        </nav>



        <div>
            <h1>homme</h1>
            <div class="cards">
                <ShoesCard v-if="data" :list="data" ></ShoesCard>
            </div>
        </div>
    </div>

</template>

<script setup lang="ts">
import ShoesCard from '~/components/ShoesCard.vue';
import type { Produit } from '~/entities';

const categorieId= ref<Number>(0);
const route = useRoute()

const { data, refresh } = await useFetch<Produit[]>('http://localhost:8080/api/produit/genre/homme');


</script>

<style scoped>
nav {
    width: 100%;
    border-bottom: #00749c dotted 1px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li{
    list-style: none;
    text-decoration: none;
}
.nav-link{
    color: #00749c;
    font-family: "Major Mono Display", monospace;
    font-weight: 800;
    font-size: 1.2rem;
}
.nav-item :hover{
    text-decoration: underline;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

</style>