<template>
    <div >
    <div>
        <div id="card" class="card mt-1" v-for="note of list" :key="note.id">
            <div class="card-body">
                <p>{{ note.content }}</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">écrit le {{ new Date(note.date).toLocaleString() }} par {{ note.author?.name }}</h6>
            </div>
        </div>
    </div>

    <form @submit.prevent="emit('submit', note)">
        <div id="flex">
        <label >            
            <textarea class="form-control" placeholder="Ajouter mon avis" v-model="note.content"></textarea>
        </label>
        <button id="add">Publier</button>
    </div>
    </form>
</div>
</template>

<script lang="ts" setup>
import type { Note } from '~/entities';

defineProps<{
    list: Note[]
}>();

const emit = defineEmits<{
    submit: [note: Note]
}>();

const note = ref<Note>({
    content: '',
    date: ''
});

</script>
<style scoped>

label{
    width: 30%;
}

#add{
    border: none;
    background-color: #00749c;
    color: #f5eee1;
    padding: 0.5rem;
    margin: 1rem;
}

#card{
    border: none;
    border-radius: 0px;
}

#flex{
    margin-top: 1rem;
    display: flex;
    align-items: center;   
}

@media screen and (max-width:1000px) {
    label{
        width: 95%;
    }
}
</style>