<template>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <NuxtLink to="/"><img src="/images/logoecommerce.png" id="logo"></NuxtLink>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul id="item" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NuxtLink to="/shoes/homme" class="nav-link">Homme</NuxtLink>
                    </li>
                    <li class="nav-item">
                        <NuxtLink to="/shoes/femme" class="nav-link">Femme</NuxtLink>
                    </li>
                    <li class="nav-item">
                        <NuxtLink to="/shoes/enfant" class="nav-link">Enfant</NuxtLink>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <li>
                    <NuxtLink to="/addProduct" v-if="user?.role == 'ROLE_ADMIN' || user?.role=='ROLE_SUPER_ADMIN'">Ajouter un article</NuxtLink>
                </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="/images/user.png" alt="">
                            </button>
                            <ul class="dropdown-menu">
                                <li><NuxtLink to="/favoris" v-if="user"  class="dropdown-item"  >Voir mes favoris</NuxtLink></li>
                                <li><NuxtLink to="/cart" class="dropdown-item"  >Voir mon panier</NuxtLink></li>
                                <li><a v-if="user" class="dropdown-item" @click="logout()">Déconnexion</a></li>
                                <li><NuxtLink to="/login" v-if="!user" class="dropdown-item">Connexion</NuxtLink></li>
                            </ul>
                        </div>
                    </li>
            </div>
        </div>
    </nav>
</template>

<script setup lang="ts">
import { useAuth } from '~/composable/auth-service';


const user = useAuth();

async function logout() {
    await $fetch('http://localhost:8080/logout', {
        credentials: 'include',
        headers: useRequestHeaders(['cookie'])
    });
    user.value = null;
}


</script>

<style scoped>
nav {
    background-color: #f7f3eb;
}

img {
    width: 50px;
}

#logo {
    width: 80px;
}

li {
    list-style: none;
}

.nav-link {
    color: #00749c;
    font-family: "Major Mono Display", monospace;
    font-weight: 800;
    font-size: 1.2rem;
}

.nav-item :hover {
    border: #00749c 1px solid;
}

#item {
    width: 50%;
}

#second {
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.dropdown-toggle{
    border: none;
    background-color: #f7f3eb;
    margin-right: 4.5rem;
}
</style>