<template>

    <img :src="picture.url" alt="">
</template>

<script setup lang="ts">
import type { Image } from '~/entities';


defineProps<{
    picture : Image
}>()

</script>

<style scoped>
img{
    width: 40%;
}
@media screen and (min-width: 500px) and (max-width: 1000px){
    img{
        width: 80%;
    }
}

</style>