<template>
    <div v-for="product of list" :key="product.id">

        <div class="col-md-3">
            <div class="card" style="width: 18rem" >
                <NuxtLink :to="'/shoes/' + product.id">
                    <img :src="product.image" class="card-img-top" alt="..." />
                </NuxtLink>
                <div class="card-body">
                    <h5 class="card-title">{{ product.marque }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.name }}</h6>
                    <div id="display">
                        <p class="card-text">{{ product.prix }} €</p>
                        <button id="like" class="btn btn-outline-danger" @click="like(product)" :disabled="!user">
                            <i class="bi-heart" v-if="!isLiked(product)"></i>
                            <i class="bi-heart-fill" v-else></i>
                        </button>
                    </div>
                </div>
                <button id="delete" v-if=" user && user?.role == 'ROLE_ADMIN' || user?.role == 'ROLE_SUPER_ADMIN' "
                    data-bs-toggle="modal" :data-bs-target="'#staticBackdrop'+product.id">Supprimer le
                    produit</button>
            </div>
        </div>
        <div class="modal fade" :id="'staticBackdrop'+product.id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">ATTENTION</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûre de vouloir supprimer l'article ? {{ product }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="sure" id="non" data-bs-dismiss="modal">Non</button>
                        <button type="button" class="sure" id="oui" data-bs-dismiss="modal" @click="handleDelete(product)">Oui</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script lang="ts" setup>
import { useAuth } from "~/composable/auth-service";
import { $api } from "~/composable/fetch";
import type { Produit } from "~/entities";

defineProps<{
    list: Produit[];
}>();


const emit = defineEmits<{
    remove: [produit:Produit]
}>()



const user = useAuth();

async function like(produit: Produit) {
    const updated = await $api<Produit>('/api/produit/' + produit.id + '/like', {
        method: 'PATCH'
    });
    produit.likes = updated.likes;
}

function isLiked(produit: Produit) {

    return produit.likes?.find(item => item.id == user.value?.id);
}


async function handleDelete(produit: Produit) {
    const deleted = await $api<Produit>('/api/produit/' + produit.id , {
        method: 'DELETE'
    });
    emit('remove', produit);
    
}





</script>

<style scoped>
.card {
    margin: 1rem;
    transition: transform 0.2s;
    background-color: #fff;
    border-radius: 0px;
    /* border: 0.5px solid #cac9c9; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2),
        0 17px 50px rgba(0, 0, 0, 0.2);
}

.card-body {
    border-top: 1px dotted rgba(0, 0, 0, 0.2);
}

#like {
    border: none;
    margin: 0;
    padding: 0, 1rem;
}

#display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete {
    border: 1px solid #771011;
    background-color: #fff;
    color: #771011;
    font-weight: 600;
}

#card {
    width: 100%;
}

#supprimer {
    background: #7c0303;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.sure {
    border: none;
    border-radius: 5px;
    padding: 5px;
}


#non {
    background: #e9e8d6d2;
    color: #000;
}

#oui {
    background: #7c0303;
    color: #fff;
    border: none;

}

#staticBackdropLabel {
    color: #771011;
}
</style>