<template>
    <div class="container-fluid">
        <h1>Ajouter un produit</h1>

        <form @submit.prevent="postProduit()">
            <label>
                <input placeholder="nom" type="text" class="form-control" v-model="produit.name">
            </label>
            <label>
                <input type="text" placeholder="marque de l'article" class="form-control" v-model="produit.marque">
            </label>
            <label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="prix" v-model="produit.prix">
                </div>
            </label>
            <label>
                <textarea placeholder="description" class="form-control" v-model="produit.description"></textarea>
            </label>
            <label>
                <input placeholder="image phare du produit" class="form-control" v-model="produit.image">
            </label>

            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="image" v-model="produit.images">
            </div>

            <button class="btn btn-primary">Add</button>

        </form>
    </div>
</template>
<script lang="ts" setup>
import { $api } from '~/composable/fetch';
import type { Produit } from '~/entities';



const produit = ref<Produit>({
    name: "",
    description: "",
    image: "",
    prix: 0,
    marque: "",
    images: [],
    taille: []
});


async function postProduit() {

    const added = await $api<Produit>('/api/produit', {
        method: 'POST',
        body: produit.value
    });
    navigateTo('/shoes/' + added.id);
}

</script>

<style scoped>
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1rem;

}
</style>
