<template>
    <div class="container-fluid">

        <h1>Mon Panier</h1>

        <ul v-for="line of cart.cartContent">
            <li>
                <div class="image">
                <img :src="line.taille.produit?.image" alt="">
                </div>
                
                <div class="info">
                <span> {{ line.taille.produit?.name }} ~ {{ line.taille.produit?.prix }} € </span>
                <div class="quantite">
                <button @click="line.quantity--" :disabled="line.quantity == 1">-</button>
                {{ line.quantity }}
                <button @click="line.quantity++">+</button>
                <button id="remove" @click="cart.removeFromCart(line)">X</button>
                </div>
                </div>
            </li>

        </ul>

    </div>


</template>

<script setup lang="ts">
import { useCart } from '~/store/panier';


const cart = useCart()





</script>

<style scoped>
ul {
    display: flex;
    
}

li {
    display: flex;
    list-style: none;
    margin-top: 2rem;
    align-items: center;
}

img {
    width: 40%;
}

button {
    width: 3rem;
    height: 2.5rem;
    border: none;
    background-color: #00749c;
    color: #f5eee1;
    border-radius: 10px;
}

#remove {
    margin-left: 1rem;
    background-color: #771011;
}

.quan{
    margin-left: 3rem;
}

</style>