<template>
    <div class="container-fluid">

        <h1>bonjour {{ user?.name }} voici vos favoris</h1>
        <div class="cards">
            <ShoesCard v-if="data" :list="data"></ShoesCard>
        </div>

    </div>
</template>

<script setup lang="ts">
import ShoesCard from '~/components/ShoesCard.vue';
import { useAuth } from '~/composable/auth-service';
import { useApi } from '~/composable/fetch';
import type { Produit } from '~/entities';

const user = useAuth();

const { data, refresh } = await useApi<Produit[]>("http://localhost:8080/api/produit/userLike");



</script>

<style scoped>
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
</style>