<template>
    <div class="global">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/pancarte.png" class="d-block w-100" alt="Sumer Vibe" />
                </div>
                <div class="carousel-item">
                    <img src="/images/Pancarte 2.png" class="d-block w-100" alt="Winter Look" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h1>Notre sélection du moment</h1>
        <!-- <h1 v-if="user?.role == 'ROLE_SUPER_ADMIN'">T es superadmin</h1>
    <h1 v-if="user?.role == 'ROLE_ADMIN'">T es admin</h1>
    <h1 v-if="user?.role == 'ROLE_USER'">T es user</h1> -->
        <div>
            <div class="cards">
                <ShoesCard v-if="data" :list="data.content"></ShoesCard>
            </div>
            <div class="pagination">
                <NuxtLink :to="{ query: { pageNumber: pageNumber - 1 } }" v-if="!data?.first" class="btn"
                    style="margin: 0 2rem"><img src="/images/arrow-left.svg" alt="Fleche gauche" /></NuxtLink>
                <NuxtLink :class="{ 'text-black': pageNumber == item - 1, disabled: pageNumber === item - 1 }"
                    :to="{ query: { pageNumber: item - 1 } }" v-for="item of data?.totalPages" style="margin: 0 2rem">{{
                        item }}</NuxtLink>
                <NuxtLink :to="{ query: { pageNumber: pageNumber + 1 } }" v-if="!data?.last" class="btn"
                    style="margin: 0 2rem"><img src="/images/arrow-right.svg" alt="Fleche droite" /></NuxtLink>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
import ShoesCard from "~/components/ShoesCard.vue";
import { useAuth } from "~/composable/auth-service";
import type { Page, Produit } from "~/entities";

const route = useRoute();
const pageNumber = computed(() => Number(route.query.pageNumber || 0));

const { data, refresh } = useFetch<Page<Produit>>("http://localhost:8080/api/produit", {
    query: { pageNumber, pageSize: 5 },
});

const user = useAuth();





</script>

<style scoped>
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    color: #00749c;
    font-size: 170%;
    font-family: "Major Mono Display", monospace;
    font-style: italic;
    margin: 2vw;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.btn {
    background-color: #00749c;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #005d80;
}
</style>