<template>
    <div class="global">
    <div class="card">
        <!-- avec des v-if-else -->
        <!-- <h1 v-if="isRegister">Register</h1>
    <h1 v-else>Login</h1> -->
        <!-- avec un ternaire -->
        <h1>{{ isRegister ? 'Inscription' : 'Connexion' }}</h1>
        <form @submit.prevent="login()">
            <div>
                <label>
                    Email
                    <input required type="email" class="form-control" :class="{ 'is-invalid': isAvailable === false }"
                        v-model="email" @blur="emailAvailable()">
                    <p class="text-danger" v-if="isAvailable === false">User already exists</p>
                </label>
            </div>
            <div v-if="isRegister">
                <div>
                    <label>
                        Name
                        <input required type="text" class="form-control" v-model="name">
                    </label>
                </div>
            </div>
                <div>
                    <label>
                        Password
                        <input required type="password" class="form-control" v-model="password">
                    </label>
                </div>
                <div v-if="isRegister"> 
                <label>
                    Repeat Password
                    <input required type="password" class="form-control" v-model="repeatPassword">
                    <p v-if="disableForm" class="text-danger">Password should match</p>
                </label>
            </div>
            <button class="submit" :disabled="disableForm">Submit</button>
            <br>
            <span v-if="!isRegister" >Vous n'avez pas de compte ? </span>
            <span v-if="isRegister" >Vous avez un compte ? </span>
            <span type="button" class="lien" @click="isRegister = !isRegister">{{ isRegister ?
                'Connectez-vous' : "Inscrivez-vous" }}</span>
        </form>
    </div>
    </div>
</template>

<script lang="ts" setup>
import { useAuth } from '~/composable/auth-service';
import { $api } from '~/composable/fetch';
import type { User } from '~/entities';


const isRegister = ref(false);
const isAvailable = ref<boolean>();

const email = ref('');
const password = ref('');
const name = ref('');
const repeatPassword = ref('');


const disableForm = computed(() => isRegister.value && (!repeatPassword.value || password.value != repeatPassword.value || !isAvailable.value));


const user = useAuth();
const route = useRoute();

async function login() {
    if (isRegister.value) {
        await $api('/api/user', {
            method: 'POST',
            body: { email: email.value, password: password.value, name: name.value }
        });
        isRegister.value = false;
        password.value = '';
        return;
    }
    const userResp = await $api<User>('/api/account', {
        headers: {
            'Authorization': 'Basic ' + btoa(email.value + ':' + password.value)
        }
    });
    user.value = userResp;
    if (route.query.initialPage) {
        navigateTo(route.query.initialPage as string);
    } else {
        navigateTo('/');
    }
}

async function emailAvailable() {
    if (!isRegister.value || email.value.length < 5) return;
    isAvailable.value = await $api<boolean>('/api/user/available/' + email.value);
}
</script>

<style scoped>
.global{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.card{
    border: 1px solid #00749c;
    border-radius: 0px;
    padding: 5rem;
    margin: 3rem;  
}
.lien{
    text-decoration: underline 1px #00749c;
    color: #00749c;
}
.submit{
    padding: 0.5rem;
    color: #00749c;
    border-radius: 0px;
    border: 1px solid #00749c;
    margin-top: 1rem;
}
.submit :hover{
    background-color: #00749c;
    color: antiquewhite;
    transform: scale(1.1);
}
</style>































<!-- <template>
    <div class="container-fluid content d-flex align-items-center justify-content-center">
        <div class="form-container">
            <h1>Connexion</h1>
            <form @submit.prevent="login()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        v-model="email" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" v-model="password" />
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                    <label class="form-check-label" for="exampleCheck1">Ce souvenir de moi.</label>
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
                <p>Vous n'avez pas de compte ? <NuxtLink to="/register">Inscrivez-vous</NuxtLink> et revenez vous
                    connecter !</p>
            </form>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useAuth } from "~/composable/auth-service";
import { ref } from "vue";
import type { User } from "~/entities";

const router = useRouter()
const email = ref("");
const password = ref("");
const user = useAuth();

async function login() {
    const userResp = await $fetch<User>("http://localhost:8080/api/account", {
        credentials: "include",
        headers: {
            Authorization: "Basic " + btoa(email.value + ":" + password.value),
        },
    });
    user.value = userResp;
    console.log("ca marche");
    router.back()
}
</script>
<style scoped>
.content {
    height: 100vh;
    background-color: #f5eee1;
}

.form-container {
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #00749c;
    text-align: center;
}

button {
    border: #00749c 1px solid;
    color: #fff;
    background-color: #00749c;
    border-radius: 5px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 5vh;
    width: 100%;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}
</style> -->